.team-name {
    color: purple;
    text-align: center;
}

.team-motto {
    text-align: center;
}

.nav-pills {
    margin: 0 3px;
}

#caret {
    display: inline-block;
    animation: blinkingCaret 1.2s infinite;
}

@keyframes blinkingCaret{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

#bio1{
    height: 100px;
    width: 300px;
}